<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Ana Menü -->
    <menuitem id="menu_veresiye_root"
              name="Veresiye Defteri"
              parent="contacts.menu_contacts"
              sequence="10"/>

    <!-- Alt Menü -->
    <menuitem id="menu_veresiye_ledger"
              name="Veresiye Defteri"
              parent="menu_veresiye_root"
              action="action_veresiye_ledger"
              sequence="1"/>
</odoo>
